<div class="row">
  <div class="col-md-12">
    <form>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            Api Connection
          </div>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label for="exampleInputEmail1">Company name</label>
            <input type="text" class="form-control" placeholder="Company Name">
          </div>
          <div class="form-group">
            <label for="exampleInputFile">Company Logo</label>
            <input type="file" id="exampleInputFile">
          </div>
          <div class="form-group">
            <label for="">Task Management Program</label>
            <select class="form-control">
              <option>Trello</option>
              <option>Jira</option>
              <option>Meistertask</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Api Key</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Api Key">
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>
