/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
// COLOR THEME
// https://color.adobe.com/Phaedra-color-theme-1764754/?showPublished=true
// #FF6138
// #FFFF9D
// #BEEB9F
// #79BD8F
// #00A388
@import "bootstrap-sprockets";
@import "bootstrap";
@import "devise_bootstrap_views";

* {
  color: #556c7c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu', sans-serif;
}

a,
a:hover {
  color: #556c7c;
}

.feature-title h4 {
  margin: 2px;
}

.panel-footer {
  background-color: white;
  border-bottom: 2px solid #79BD8F;
}

.panel-default > .panel-heading {
  // color: #fff;
  border-bottom: 2px solid #79BD8F;
  background-color: white;
  font-weight: bold;
}

.panel-footer a,
.panel-footer a:hover,
.panel-heading a,
.panel-heading a:hover {
  //  color: white;
}

.navbar-default {
  background-color: #00A388;
  border-color: #79BD8F;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover {
  color: white;
}

.arrow {
  font-weight: bold;
  font-size: 120%;
}

.up-arrow {
  color: #79BD8F;
}

.down-arrow {
  color: #FF6138;
}
